.mejs-jaws .mejs-controls {
	background: rgba(56, 64, 71, 0.98);
	height: 30px;
}

.mejs-jaws .mejs-controls .mejs-button button{
	outline: none;
}

.mejs-jaws .mejs-controls .mejs-captions-selector {
	background: rgba(166, 2, 2, 0.98);
	width: 100px;
	right: auto;
}


.mejs-jaws .mejs-controls .mejs-time-rail{
	padding: 0px;
}

.mejs-jaws .mejs-controls .mejs-time-rail .mejs-time-current{
	background: rgba(166, 2, 2, .90);
	height: 100%;
}

.mejs-jaws .mejs-controls .mejs-time-loaded{
	background: rgba(255, 255, 255, 0.50);
	height: 100%;
}

.mejs-jaws .mejs-controls .mejs-time-total,
.mejs-jaws .mejs-controls .mejs-time-buffering,
.mejs-jaws .mejs-controls .mejs-time-handle {
	background: rgba(0, 0, 0, 0.98);
	height: 75%;
}


.mejs-jaws .mejs-controls .mejs-time-rail span{
	border-radius: 20px;
}

.mejs-jaws .mejs-controls .mejs-time-rail .mejs-time-total .mejs-time-float {
	
}




